* {
    box-sizing: border-box;
}

:root {
    --text: #040f00;
    --background: #f5fff6;
    --primary: #a9ff7a;
    --secondary: #99ffe0;
    --accent: #70eaff;
    --link: #007bac;
}

#wrapper {
    background-color: #fff;
    box-shadow: 5px 5px var(--text);
    border-radius: 20px;
    height: auto;
    width: auto;
}

body {
    background-color: var(--accent);
    background-image: linear-gradient(to bottom, var(--accent), var(--primary));
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

header {
    background-color: var(--primary);
    color: #fff;
    text-shadow: 1px 2px 2px var(--text);
    text-align: center;
    border-bottom: 1px solid var(--text);
    border-radius: 20px 20px 0px 0px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:link {
    color: #FFF;
}

header a:hover {
    color: var(--link);
}

nav {
    background-color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    text-align: center;
    border-right: 1px solid var(--text);
    border-radius: 0px 0px 0px 20px;
}

nav li {
    padding: 10px 20px 10px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 5px;
}

nav a:link {
    color: var(--link);
}

nav a:visited {
    color: var(--link);
}

nav a:hover {
    background-color: var(--accent);
    color: #fff;
}

main {
    background-color: #FFFFFF;
    padding: 50px 20px 50px 20px;
    display: block;
    overflow: auto;
    text-align: center;
    line-height: 120%;
    border-radius: 0px 0px 20px 0px;
    align-items: center;
}

main a {
    text-decoration: none;
}

main a:link {
    color: var(--link);
}

main a:visited {
    color: var(--link);
}

main a:hover {
    color: var(--link);
    background-color: var(--secondary);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

#h2 {
    width: auto;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 30px;
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

h3 {
    width: auto;
    background-color: var(--accent);
    border-radius: 15px;
    color: var(--text);
    text-align: center;
    padding: 30px;
}

.h6 {
    display: none;
}

section {
    margin-left: 0;
    margin-right: 0;
    flex: 1;
}

.flow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 20px 100px;
    width: 1000px;
}


footer {
    font-size: .85em;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 0px;
}

#homehero {
    background-image: url(logo_char.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 656px 238px;
    margin: auto auto;
    width: 656px;
    height: 238px;
}

#fruitshero {
    background-image: url(logo_fruits.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 630px 283px;
    margin: auto auto;
    width: 630px;
    height: 283px;

}

#bbhero {
    background-image: url(bb.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 196px;
    height: 223px;
    background-size: 90% 90%;
}

#brochero {
    background-image: url(broc.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    width: 194px;
    height: 235px;
    background-size: 90% 90%;
}

#sammyhero {
    background-image: url(sammy.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 190px;
    height: 231px;
    background-size: 80% 80%;
}

#cookiehero {
    background-image: url(cookie.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 202px;
    height: 233px;
    background-size: 80% 80%;
}

#bbfruits {
    background-image: url(bb_fruits.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 202px;
    height: 233px;
    background-size: 100% 100%;
}

#sweetie {
    background-image: url(sweetie.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 223px;
    height: 290px;
    background-size: 100% 100%;
}

#ruby {
    background-image: url(ruby.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 219px;
    height: 292px;
    background-size: 100% 100%;
}

#brocveges {
    background-image: url(broc.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    width: 194px;
    height: 235px;
    background-size: 100% 100%;
}

#kyle {
    background-image: url(kyle.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    width: 225px;
    height: 300px;
    background-size: 90% 90%;
}

#chic {
    background-image: url(chic.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    width: 218px;
    height: 291px;
    background-size: 100% 100%;
}

#sammyprotein {
    background-image: url(sammy.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 190px;
    height: 231px;
    background-size: 100% 100%;
}

#eddie {
    background-image: url(eddie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 213px;
    height: 297px;
    background-size: 100% 100%;
}

#cookiefoes {
    background-image: url(cookie.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 202px;
    height: 233px;
    background-size: 90% 90%;
}

#candy {
    background-image: url(candy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 222px;
    height: 298px;
    background-size: 90% 90%;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    border: 5px solid var(--accent);
    border-radius: 12px;
    margin: 0 auto;
}

th {
    background-color: var(--accent);
    background-image: linear-gradient(to bottom, var(--accent), var(--secondary));
}

td,
th {
    padding: 0.8em;
    font-size: 1.2em;
}

td {
    text-align: center;
}

tr:nth-of-type(even) {
    background-color: #f5f5f5;
}


@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    section {
        flex: 1;
    }

    main {
        border-radius: 0px 0px 20px 20px;
    }

    .flow_front {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        margin: auto;
        width: 80%;
        border: 0px solid var(--text);
        box-shadow: 5px 5px var(--text);
    }

    nav {
        text-align: left;
        padding-left: 1em;
    }

    @supports (display: grid) {
        nav ul {
            flex-direction: column;
            padding-top: 1em;
        }

        header {
            grid-area: header;
        }

        nav {
            grid-area: nav;
        }

        main {
            grid-area: main;
        }

        h2 {
            grid-area: h2;
        }

        footer {
            grid-area: footer;
        }

        .hero {
            grid-area: hero;
        }

        #wrapper {
            display: grid;
            grid-template:
                "header header"
                "nav hero" 300px "nav h2"
                "nav main"
                "nav footer"
                / 250px 1fr;
        }

        #wrapper.nohero {
            display: grid;
            grid-template:
                "header header" auto
                "nav main"
                "nav footer"
                / 180px 1fr;
        }
    }
}